.input_group {
    @apply flex border rounded-xl ;
    position: relative;
    border-radius:0;
}
.input_text {
    @apply w-full py-3 px-6 rounded-md bg-slate-50;
    @apply focus:outline-none;
}

.input_text:-webkit-autofill,
.input_text:-webkit-autofill:hover, 
.input_text:-webkit-autofill:focus, 
.input_text:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(248,250,252) inset !important;
}

.input_button {
    @apply w-full bg-gradient-to-r from-blue-500 to-indigo-500 rounded-md  py-3 text-slate-50;
}

.input_button:hover {
    @apply bg-gradient-to-r from-gray-50 to-gray-100 border-2 text-slate-950 cursor-pointer
}

.input_button_custom {
    @apply w-full border py-3 flex justify-center gap-2 
}

.input_button_custom:hover{
    @apply bg-slate-100 cursor-pointer
}

.sign_up_link {
    @apply text-blue-500
}

.input_text+* {
    color: #CBD5E1;
}

.input_text:focus+*{
    color: #40E0D0;
    transition: all 1s ease;
}

.input_text:not([type=email])~span:hover* {
    color:#40E0D0;
    cursor:pointer
}

.input_error_message {
    color:red;
    float: left;
    position:relative;
    top:-10px;
    font-style: italic;
    font-size: 14px;
    font-weight: 800;
}
